@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --background: #242133;
  --ButtonColor: #4f7dfd;
  font-size: 16px;
}
body {
  background-color: var(--background);
  color: white;
  font-family: "Jost", sans-serif;
  padding-bottom: 200px;
}
a {
  text-decoration: none;
}
.bg {
  background: url(./Images/background.png);
  min-height: 100vh;
  max-height: 800px;
  padding-bottom: 100px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
  max-width: 1440px;
  margin: auto;
}
.nav ul {
  margin-left: auto;
}
.navlinks li {
  display: inline-block;
  margin: 0 0 0 50px;
}
.nav-button {
  background-color: var(--ButtonColor);
  padding: 10px 25px;
  border: none;
  /* font-size: 1.2rem; */
  margin-left: 5%;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}
.section-1 > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-1 > section:last-of-type {
  align-items: center;
}
.section-1 {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 50px 50px 0;
}
.section-1 .section-1-text a {
  margin-top: 25px;
  width: 150px;
  border-radius: 12px;
  padding: 10px 0;
}
.section-1 .collectibles {
  color: var(--ButtonColor);
}
.section-1 > section:first-of-type p:first-of-type {
  font-size: 3rem;
  margin-bottom: 25px;
}
.section-1 a {
  display: inline-block;
  color: var(--ButtonColor);
  border: 1px solid var(--ButtonColor);
  padding: 5px 15px;
  border-radius: 20px;
  text-align: center;
}
.section-1-image-background-container {
  max-width: 400px;
  background-color: rgba(225, 225, 225, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border-radius: 10px;
}
.section-1-img-containers {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
}
.section-1-img-containers .main-img {
  width: 100%;
  border-radius: 8px;
}
.heartContainer {
  position: absolute;
  background-color: white;
  width: 70px;
  height: 30px;
  top: 5px;
  left: 5px;
  border-radius: 20px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.section-1-sub {
  display: flex;
  flex-direction: column;
}
.section-1-sub2 {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.section-1-sub a {
  background-color: var(--background);
  border-color: var(--background);
  color: #fff;
}
.section2 {
  max-width: 1440px;
  margin: 50px 50px 0;
}
.section2Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section2Header h2 {
  margin-bottom: 25px;
  font-size: 1.8rem;
}
.section2Header a {
  border-radius: 8px;
  border: 1px solid var(--ButtonColor);
  color: var(--ButtonColor);
  padding: 8px 10px;
}
.section2ImageBackgroundContainer {
  display: flex;
  gap: 50px;
  overflow: hidden;
}
.section2card {
  margin-top: 50px;
  width: 400px;
  /* height: 40px; */
}
.section-2-img-containers {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
}
.section-2-img-containers .main-img {
  width: 100%;
  border-radius: 8px;
}
.section2cardsub {
  padding: 20px 10px;
  background-color: #2e325c;
  border-radius: 0 0 8px 8px;
}
.section2cardsub img {
  width: 50px;
}
.section-2-sub {
  display: flex;
  flex-direction: column;
}
.section-2-sub h3 {
  font-size: 1rem;
  margin-top: 10px;
}
.section-2-sub2 {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.section-2-img-containers {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.section-2-img-containers .main-img {
  width: 100%;
  border-radius: 8px;
}
.section-2-sub div p {
  font-size: 0.7rem;
  width: 105px;
}
.section-2-sub a {
  background-color: var(--ButtonColor);
  padding: 5px;
  width: 120px;
  text-align: center;
  border-radius: 20px;
  border-color: var(--ButtonColor);
  color: #fff;
}
.section3 {
  max-width: 1440px;
  margin: 100px 50px 0;
  background-image: url("/Images/background.png");
  border-radius: 10px;
}
.section3bg {
  background-color: rgba(101, 101, 101, 0.2);
  padding: 30px 15px;
  border-radius: 10px;
}
.section3header p {
  margin: 10px auto;
}
.section3content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.section3card {
  width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #202443;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.section3card img {
  width: 50px;
  border-radius: 50%;
}

.section4 {
  max-width: 1440px;
  margin: 100px 50px 0;
}
.section4header {
  display: flex;
  justify-content: space-between;
}
.section4header a {
  text-decoration: none;
  color: var(--ButtonColor);
  border: 1px solid var(--ButtonColor);
  border-radius: 8px;
  padding: 8px;
}
.section4cardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section4card {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 1fr);
}
.section4card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.section4card img:nth-child(2) {
  grid-column: 2/-1;
  grid-row-start: 1;
  grid-row-end: -1;
}
.section5 {
  width: 1440px;
  margin: 50px 50px 0;
}
.section5header h4 {
  margin-bottom: 10px;
}

/* css for aptLearn NFT*/
